@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-thumb: #c1c1c1;
  --scrollbar-thumb-hover: #a8a8a8;
  --scrollbar-track: #f5f5f5;
}
:root.dark {
  --scrollbar-thumb: #4B5563;
  --scrollbar-thumb-hover: #6B7280;
  --scrollbar-track: #1F2937;
}
* { scrollbar-width: thin; scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track); }
*::-webkit-scrollbar { width: 8px; height: 8px; }
*::-webkit-scrollbar-track { background: var(--scrollbar-track); border-radius: 4px; }
*::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb); border-radius: 4px; }
*::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-thumb-hover); }

@layer utilities {
  .global-background { @apply bg-white dark:bg-[#111827]; }
  .nav-background { @apply bg-[#f8fafb] dark:bg-[#1F2937]; }
  .on-hover { @apply hover:bg-[#F9FAFB] dark:hover:bg-[#1F2937]; }
  .on-select { @apply bg-[#F3F4F6] dark:bg-[#27303f]; }
  .text-h { @apply text-[#111827] dark:text-white text-[18px] font-medium leading-6; }
  .text { @apply text-[#111827] dark:text-white text-[14px] leading-5; }
  .text-fade { @apply text-[#6B7280] dark:text-[#D1D5DB] text-[14px] leading-5; }
}
